{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "singleAttributePerLine": true,
  "trailingComma": "es5"
}
